@font-face{
	font-family: nb;
	src: url(NBInternationalProBook.ttf);
}
@font-face{
	font-family: rejouice;
	src: url(Rejouice-Headline.ttf);
}
html{
	scroll-behavior: smooth;
	overflow-x: hidden;
}
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: nb;
}
html, body{
	height: 100%;
	width: 100%;
}
.upper-parant{
	background-color: #FF5F38;
	padding:3vw 3vw;
	height: 66vh;
	width: 100%;
/*	position: absolute;*/
	display: none;
}
.upper{
	display: flex;
	justify-content: space-between;
}
.box{
	width: 25%;
	height: 30%;
	background-color: red;
}
.img{
	width: 23.1vw;
	height: 16vw;
}
.img img{
	width: 100%;
	height: 100%;
}
.img-bottom{
	padding-top: .6vw;
	display: flex;
	justify-content: space-between;
}
.icon{
	display: flex;
}
.icon i{
	display: inline-block;
}
.navs{
	display: flex;
	margin-left: 18vw;
	flex-direction: column;
}
.navs a{
	text-decoration: none;
	color: black;
	line-height: 1;
	font-size: 4vw;
}
.right h3{
	font-size: 2vw;
	font-weight: 400;
}
.btn button{
	padding: 1vw 2vw;
	background-color: transparent;
	font-size: 1vw;
	font-family: nb;
}
.line{
	margin-top: 1vw;
	background-color: black;
	height: 2px;
	overflow: hidden;
}
.upper-bottom{
	padding-top: .5vw;
	display: flex;
	justify-content:space-between;
}
.b-text h3{
	font-size: 1.5vw;
	font-weight: 400;
}
.links a{
	text-decoration: none;
	color: black;
	font-size: 1.5vw;
}










/*Loader*/
#loader{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	background-color: black;
	z-index: 99;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	color: white;
}
#loader h3{
	font-size: 2vw;
}
.page-1{
	width: 100%;
	height: 100vh;
	position: relative;
}
#mouse-follower{
	height: 7.5vw;
	width: 7.5vw;
	background-color: #FF5F38;
	border-radius: 50%;
	position: fixed;
	z-index: 9;
	display: flex;
	align-items: center;
	justify-content: center;
}
#mouse-follower h5{
	font-size: 1.2vw;
	font-weight: 500;
}
.page-1 video{
   height: 100vh;
   width: 100%;
   object-fit: cover;
   position: absolute;
}
.pg-1-content{
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 10;
	color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}
nav{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3vw 3vw;
}
nav h3{
	font-size: 1.4vw;
	font-weight: 100;
}
nav a{
	font-size: 1.4vw;
	font-weight: 100;
	color: white;
	text-decoration: none;
}
.pg-1-content h1{
	font-family: rejouice;
	font-size: 27vw;
	font-weight: 100;
	line-height: 27vw;
}
.pg-1-content h1 span{
	font-family: rejouice;
}
/*Page 2*/
.page-2{
	height: 100vh;
	width: 100%;
	background-color: #FAF8F3;
}
.page-2 .texts{
	padding: 0 2vw;
	padding-top: 5vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.texts span{
   font-size: 1.7vw;
   font-family: nb;
}
.hr-line{
	margin-top: 1vw;
	height: 1px;
	width: 97%;
	margin-left: 20px;
	background-color: #9A9A9A;
}
.para{
	width: 100%;
	margin-top: 1vw;
}
.para h1{
	font-family: nb;
	color: #0E0E0E;
	letter-spacing: -2px;
	font-size: 59px;
	padding: 0 50px;
	font-weight: 300;
/*	background-color: red;*/
}
/*page-3*/
.page-3{
	min-height: 100vh;
	width: 100%;
	position: relative;
	padding: 3vw;
}
.page-3 .text{
	text-align: center;
}
.page-3 .text h4{
	margin-bottom: 1vw;
	font-size: 1vw;
	font-weight: 500;
}
.page-3 .text span{
	font-size: 0.65vw;
	background-color: black;
	color: white;
	padding: 4px 10px;
	border-radius: 10px;
}
.page-3 .text h2{
	font-size: 4vw;
	font-weight: 500;
}
.page-3-data{
	margin-top: 8vw;
	height: 75vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.page-3-data .box{
	position: relative;
	height: 100%;
	width: 32.5%;
	background-color: blue;
}
.page-3-data .box img{
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.page-3-data .box:hover img{
	opacity: 0;
	transition: linier 0.8s;
}
.page-3-data .box video{
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}
/*Page-4*/
.page-4{
	height: 100vh;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-4 video{
	height: 100%;
}
.page-4 svg{
	position: absolute;
	height: 67%;
}
.page-5{
	height: 100vh;
	width: 100%;
	padding: 4vw 0;
	position: relative;
}
.page-5-text h1{
	font-size: 10vw;
	font-family: rejoy;
	font-weight: 100;
	border-bottom: 1px solid black;
	width: 95%;
	margin-left: 2%;
}
.swipper{
	height: 60vh;
	width: 100%;
	position: relative;
}
/*swipper js code*/
.swiper {
	  margin-top: 20px;
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
    }

    .swiper-slide img {
      display: block;
      width: 20%;
      height: auto;
      object-fit: cover;
    }

    .swiper {
      margin-left: auto;
      margin-right: auto;
}
.footer{
	height: 50px;
	font-size: 20px;
	font-weight: 400;
	width: 100%;
	background-color: #FF5F38;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 10px;
}